# Copyright 2025 Boyuan-IT-Club
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

basePath: /
definitions:
  dto.CommentVO:
    properties:
      category:
        type: string
      content:
        type: string
      courseId:
        type: string
      createdAt:
        type: string
      department:
        type: string
      id:
        type: string
      like:
        type: boolean
      likeCnt:
        type: integer
      name:
        type: string
      tags:
        items:
          type: string
        type: array
      teachers:
        description: 这里还是直接返回教师名字+职称组合后的字符串列表
        items:
          type: string
        type: array
      updatedAt:
        type: string
      userId:
        type: string
    type: object
  dto.CourseVO:
    properties:
      campuses:
        items:
          type: string
        type: array
      category:
        type: string
      code:
        description: 暂未使用
        type: string
      department:
        type: string
      id:
        type: string
      name:
        type: string
      tagCount:
        additionalProperties:
          format: int64
          type: integer
        type: object
      teachers:
        items:
          $ref: '#/definitions/dto.TeacherVO'
        type: array
    type: object
  dto.CreateCommentReq:
    properties:
      content:
        type: string
      courseId:
        type: string
      tags:
        items:
          type: string
        type: array
    required:
    - content
    - courseId
    type: object
  dto.CreateCommentResp:
    properties:
      category:
        type: string
      code:
        type: integer
      content:
        type: string
      courseId:
        type: string
      createdAt:
        type: string
      department:
        type: string
      id:
        type: string
      like:
        type: boolean
      likeCnt:
        type: integer
      msg:
        type: string
      name:
        type: string
      tags:
        items:
          type: string
        type: array
      teachers:
        description: 这里还是直接返回教师名字+职称组合后的字符串列表
        items:
          type: string
        type: array
      updatedAt:
        type: string
      userId:
        type: string
    type: object
  dto.CreateTeacherReq:
    properties:
      department:
        type: string
      name:
        type: string
      title:
        type: string
    required:
    - department
    - name
    - title
    type: object
  dto.CreateTeacherResp:
    properties:
      code:
        type: integer
      department:
        type: string
      id:
        type: string
      msg:
        type: string
      name:
        type: string
      title:
        type: string
    type: object
  dto.GetCourseCampusesResp:
    properties:
      campuses:
        items:
          type: string
        type: array
      code:
        type: integer
      msg:
        type: string
    type: object
  dto.GetCourseCategoriesResp:
    properties:
      categories:
        items:
          type: string
        type: array
      code:
        type: integer
      msg:
        type: string
    type: object
  dto.GetCourseDepartmentsResp:
    properties:
      code:
        type: integer
      departments:
        items:
          type: string
        type: array
      msg:
        type: string
    type: object
  dto.GetCourseResp:
    properties:
      code:
        type: integer
      course:
        $ref: '#/definitions/dto.CourseVO'
      msg:
        type: string
    type: object
  dto.GetMyCommentsReq:
    properties:
      page:
        type: integer
      pageSize:
        type: integer
    type: object
  dto.GetMyCommentsResp:
    properties:
      code:
        type: integer
      comments:
        items:
          $ref: '#/definitions/dto.CommentVO'
        type: array
      msg:
        type: string
      total:
        type: integer
    type: object
  dto.GetSearchHistoriesResp:
    properties:
      code:
        type: integer
      histories:
        items:
          $ref: '#/definitions/dto.SearchHistoryVO'
        type: array
      msg:
        type: string
    type: object
  dto.GetSearchSuggestionsResp:
    properties:
      code:
        type: integer
      msg:
        type: string
      suggestions:
        items:
          $ref: '#/definitions/dto.SearchSuggestionsVO'
        type: array
    type: object
  dto.GetTotalCourseCommentsCountResp:
    properties:
      code:
        type: integer
      count:
        type: integer
      msg:
        type: string
    type: object
  dto.ListCourseCommentsResp:
    properties:
      code:
        type: integer
      comments:
        items:
          $ref: '#/definitions/dto.CommentVO'
        type: array
      msg:
        type: string
      total:
        type: integer
    type: object
  dto.ListCoursesReq:
    properties:
      keyword:
        type: string
      page:
        type: integer
      pageSize:
        type: integer
      type:
        description: teacher or course
        type: string
    type: object
  dto.ListCoursesResp:
    properties:
      code:
        type: integer
      courses:
        description: 当前页的课程列表
        items:
          $ref: '#/definitions/dto.CourseVO'
        type: array
      msg:
        type: string
      page:
        type: integer
      pageSize:
        type: integer
      total:
        description: 符合条件的总记录数
        type: integer
    type: object
  dto.ListProposalResp:
    properties:
      code:
        type: integer
      msg:
        type: string
      proposals:
        items:
          $ref: '#/definitions/dto.ProposalVO'
        type: array
      total:
        type: integer
    type: object
  dto.ProposalVO:
    properties:
      content:
        type: string
      course:
        $ref: '#/definitions/dto.CourseVO'
      createdAt:
        type: string
      id:
        type: string
      title:
        type: string
      updatedAt:
        type: string
      userId:
        type: string
    type: object
  dto.SearchHistoryVO:
    properties:
      createdAt:
        type: string
      id:
        type: string
      query:
        type: string
    type: object
  dto.SearchSuggestionsVO:
    properties:
      name:
        type: string
      type:
        type: string
    type: object
  dto.SignInReq:
    properties:
      authId:
        description: 微信开放平台ID
        type: string
      authType:
        description: 认证类型(wechat/phone等)
        type: string
      verifyCode:
        description: res.code
        type: string
    required:
    - authId
    - authType
    - verifyCode
    type: object
  dto.SignInResp:
    properties:
      accessToken:
        type: string
      code:
        type: integer
      expiresIn:
        type: integer
      msg:
        type: string
      userId:
        type: string
    type: object
  dto.TeacherVO:
    properties:
      department:
        type: string
      id:
        type: string
      name:
        type: string
      title:
        type: string
    type: object
  dto.ToggleLikeResp:
    properties:
      code:
        type: integer
      like:
        type: boolean
      likeCnt:
        type: integer
      msg:
        type: string
    type: object
  dto.ToggleProposalResp:
    properties:
      code:
        type: integer
      msg:
        type: string
      proposal:
        type: boolean
      proposalCnt:
        type: integer
    type: object
info:
  contact: {}
  description: 选课猫后端接口文档
  title: Meowpick Backend API
  version: "1.0"
paths:
  /api/action/like/{id}:
    post:
      description: 点赞或取消点赞
      parameters:
      - description: 目标ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.ToggleLikeResp'
      summary: 点赞或取消点赞
      tags:
      - action
  /api/comment/add:
    post:
      consumes:
      - application/json
      description: 用户对指定课程发布评论
      parameters:
      - description: CreateCommentReq
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/dto.CreateCommentReq'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.CreateCommentResp'
      summary: 发布课程评论
      tags:
      - comment
  /api/comment/history:
    post:
      consumes:
      - application/json
      description: 分页获取当前用户发布过的评论
      parameters:
      - description: GetMyCommentsReq
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/dto.GetMyCommentsReq'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.GetMyCommentsResp'
      summary: 获取我的评论历史
      tags:
      - comment
  /api/comment/query:
    get:
      description: 根据课程ID分页查询评论列表
      parameters:
      - description: 课程ID
        in: query
        name: courseId
        required: true
        type: integer
      - description: 页码
        in: query
        name: page
        required: true
        type: integer
      - description: 每页数量
        in: query
        name: pageSize
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.ListCourseCommentsResp'
      summary: 分页获取课程评论
      tags:
      - comment
  /api/course/{courseId}:
    get:
      description: 获取课程信息
      parameters:
      - description: 课程ID
        in: path
        name: courseId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.GetCourseResp'
      summary: 获取课程信息
      tags:
      - course
  /api/course/campuses:
    get:
      description: 根据课程名字获取课程开课校区
      parameters:
      - description: 课程名称关键词
        in: query
        name: keyword
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.GetCourseCampusesResp'
      summary: 获取课程开课校区
      tags:
      - course
  /api/course/categories:
    get:
      description: 根据课程名字获取课程分类
      parameters:
      - description: 课程名称关键词
        in: query
        name: keyword
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.GetCourseCategoriesResp'
      summary: 获取课程分类
      tags:
      - course
  /api/course/departs:
    get:
      description: 根据课程名字获取课程开课院系
      parameters:
      - description: 课程名称关键词
        in: query
        name: keyword
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.GetCourseDepartmentsResp'
      summary: 获取课程开课院系
      tags:
      - course
  /api/proposal/:id:
    get:
      responses: {}
  /api/proposal/:id/approve:
    post:
      responses: {}
  /api/proposal/:id/delete:
    post:
      responses: {}
  /api/proposal/:id/update:
    post:
      responses: {}
  /api/proposal/{id}:
    post:
      description: 对提案进行投票或取消投票
      parameters:
      - description: 提案ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.ToggleProposalResp'
      summary: 投票或取消投票
      tags:
      - proposal
  /api/proposal/add:
    post:
      responses: {}
  /api/proposal/query:
    get:
      description: 分页查询提案列表数据
      parameters:
      - description: 页码
        in: query
        name: page
        required: true
        type: integer
      - description: 每页数量
        in: query
        name: pageSize
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.ListProposalResp'
      summary: 分页获取提案列表
      tags:
      - proposal
  /api/proposal/suggest:
    get:
      responses: {}
  /api/search:
    post:
      consumes:
      - application/json
      description: 搜索课程列表
      parameters:
      - description: ListCoursesReq
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/dto.ListCoursesReq'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.ListCoursesResp'
      summary: 搜索课程列表
      tags:
      - courses
  /api/search/recent:
    get:
      description: 获取最近搜索历史
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.GetSearchHistoriesResp'
      summary: 获取最近搜索历史
      tags:
      - search
  /api/search/suggest:
    get:
      description: |-
        根据关键词获取搜索建议
        根据 type 不同执行不同的搜索逻辑：
        - course：模糊分页搜索课程
        - teacher：精确分页搜索教师开设的课程
        - category：精确分页搜索该类别下的课程
        - department：精确分页搜索该开课院系下的课程
      parameters:
      - description: 搜索关键词
        in: query
        name: keyword
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.GetSearchSuggestionsResp'
      summary: 获取搜索建议
      tags:
      - search
  /api/search/total:
    get:
      description: 获取系统中所有课程评论的总数量
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.GetTotalCourseCommentsCountResp'
      summary: 获取吐槽总数
      tags:
      - comment
  /api/sign_in:
    post:
      consumes:
      - application/json
      parameters:
      - description: SignInReq
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/dto.SignInReq'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.SignInResp'
      summary: 登录
      tags:
      - auth
  /api/teacher/add:
    post:
      consumes:
      - application/json
      description: 新建教师
      parameters:
      - description: CreateTeacherReq
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/dto.CreateTeacherReq'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.CreateTeacherResp'
      summary: 新建教师
      tags:
      - teacher
swagger: "2.0"
